.bay-shop {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 50px;
    margin-bottom: 100px;

    .bay-shop_content {
        min-width: 478px;
        padding-top: 60px;
        padding-left: 185px;
        margin-bottom: 100px;
        .bay-shop_title{
            margin: 0;
            padding-bottom: 22px;
        }
        .bay-shop_text {
            margin: 0;
            margin-bottom: 10px;

        }
    }
    .buy-shop_img {
        position: absolute;
        top: -63px;
    }
    

}