.boost {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 111px;
    .boost_content {
        margin: 0 auto;
        margin-bottom: 110px;


        .boost_title {
            padding-top: 212px;
            margin: 0;
            margin-bottom: 22px;
        }

        .boost_text {
            max-width: 440px;
            margin: 0;
            margin-bottom: 12px;
            
        }
    }
    .boost_img {
        position: relative;
        top: -99px;
    }
}

@media screen and (min-width: @tablet) and (max-width: @laptop) {
    .boost {
        margin-top: 140px;

        .boost_content {
            margin-bottom: 0;
            padding: 0 20px 0 40px;
            .boost_title {
                padding-top: 0;
 
            }
        } 
    }
}
@media screen and (min-width: @mobile) and (max-width: @tablet) {
    .boost {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 0;
        .boost_content {
            margin-bottom: 0;
            .boost_title {
                padding-top: 60px;
            }
        }
        .boost_img {
            top: 0;
        } 
    }
}