.logo-copyright {
    .logo-footer {
        padding-top: 55px;
    }
    .logo-copyright_wrapper {
        display: flex;
        align-items: flex-start;
        .copyright {
            margin-bottom: 65px;
            padding-right: 188px;
            font-size: 12px;
            line-height: 15px;
            color: #aaa;
        }
    }
}