.mastercard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 100px;

    &_content {
        margin-bottom: 180px;
        padding-top: 126px;
        max-width: 475px;  
    }
    .mastercard_title::after{
        content:url(../img/®.png);
        position: relative;
        top: -25px;
    }

    .mastercard_btn {
        max-width: 87px;
        padding: 14px 9px;
        border: 2px solid #222;
        border-radius: 5px;
        outline: none;
        &:hover {
            opacity: 0.8;
        }
        &:focus {
            box-shadow: 0 0 10px 2px #000;
        }
    }
    .mastercard_btn:not(:last-child) {
        margin-right: 20px;
    } 

    .mastercard_img{
        position: relative;
        top: -73px;
    }
}

@media screen and (min-width: @mobile) and (max-width: @tablet) {
    .mastercard {
        grid-template-columns: 1fr;
        margin-bottom: 0;

        &_content {
            margin-bottom: 0;
            padding-top: 30px;
            order: 2;
        }
        
        .mastercard_img{
            top: 0;
            order:1;
            margin-top: 50px;

        }

    }
    
}