.partners {
    .partners_title {
        margin: 0;
        text-align: center; 
    }
    .partners_text {
        width: 585px;
        margin: 0 auto;
        margin-bottom: 46px;
        text-align: center; 
        line-height: 25px;
    }
    .partners_btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
        width: 237px;
        padding: 12px 32px;
        line-height: 25px;
        border-radius: 48px;
        outline: none;
        &:hover{
            box-shadow: 0 0 3px 0 #000;
            color: green;
        }
        &:focus{
            color: red;
            outline: none;
        }
    }
    .parters_logo-link {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        margin: 0 120px;
        margin-bottom: 172px;
    }
}