.shopping {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 114px;

    .shopping_content_prevue {
        display: flex;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 33px;
        font-size: 16px;
        .content_prevue_img {
            margin-right: 8px;
        }   
    }

    .shopping_content_title {
        max-width: 370px;
        margin: 0;
        font-size: 42px;
        
    }

    .shopping_content_text {
        max-width: 400px;
        margin-top: 23px;
        margin-bottom: 18px;
    }

    .shopping_content_btn_container {
        display: flex;
        flex-direction: column;
        margin-bottom: 96px;
        .shopping_content_btn {
            width: 168px;
            display: block;
            padding: 8px 15px;
            background-color: #000;
            color: #fff;
            border: 1px solid #A6A6A6;
            border-radius: 7px;
            &:hover {
                opacity: 0.5;
            }
            &:focus {
                box-shadow: 0 0 10px 2px #000;
            }
            &:first-child {
                margin-bottom: 20px;
            }
            .btn_content {
                display: flex;
                align-items: center;
            }
    
            .content_btn_img {
                margin: 0;
            }
    
            .btn-img_wrapper {
                margin-left: 11px;
                .img_wrapper-item:nth-child(1){
                    padding-left: 3px;
                }
            }
    
            .btn-images_wrapper {
                margin-left: 5px;
                .img_wrapper-item:nth-child(1){
                    display: block;
                    padding-bottom: 7px;
                }
            }
    
        }
    
    }
    .shopping_content_img {
        position: absolute;
        top: -74px;
        right:80px;
    }
        

}
@media screen and (min-width: @tablet) and (max-width: @laptop) {
    .shopping {
        margin-top: 30px;
        .shopping_content_prevue {
            margin-top: 45px;
            margin-bottom: 20px;
        }
        .shopping_content_title {
            font-size: @title_tablet;
            max-width: 220px;
        }
        .shopping_content_text {
            max-width: 320px;
            font-size: 16px;
        }
        .shopping_content_btn_container {
            flex-direction: row;
            margin-bottom: 40px;

            .shopping_content_btn {
                width: 138px;
                display: block;
                padding: 6px 13px;
                &:first-child {
                    margin-right: 20px;
                    margin-bottom: 0;
                }
     
            }

        }
        .shopping_content_img {
            position: absolute;
            top: -30px;
            right: 5%;
            max-width: 45%;

        }
    } 
}
@media screen and (min-width: @mobile) and (max-width: @tablet) {
    .shopping {
        grid-template-columns: 1fr;
        grid-template-rows: auto;    
        margin-top: 30px;
        .shopping_content {
            grid-row: 2;
          .shopping_content_prevue {
            margin-top: 20px;
            margin-bottom: 20px;
            }
        .shopping_content_title {
            font-size: @title_tablet;
            max-width: 220px;
            }
        .shopping_content_text {
            max-width: 320px;
            font-size: 16px;
            }  
        }
        
        .shopping_content_btn_container {
            flex-direction: column;
            margin-bottom: 40px;

            .shopping_content_btn {
                width: 138px;
                display: block;
                padding: 6px 13px;
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
     
            }

        }
        .shopping_content_img {
            position: relative;
            grid-row: 1;
            top: 0;
            right: 0;
        }
    }
}