
@mobile: 320px;
@tablet: 767px;
@laptop: 1024px;




@font-face:{
    font-family: 'Nunito', sans-serif;
    src: url("../fonts/Nunito-Regular.ttf");
}

@title: 36px;
@title_tablet: 24px;
@title_mobile: 20px;
@list-item: 14px;


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #000;
}
img {
    max-width: 100%;
    height: auto;
}


.b {
    border: 1px solid black;
}

.wrapper {
    margin: 0 auto;
    padding: 0 50px;

}

.title {
    font-size: @title;
    font-weight: 400;
    line-height: 43px;
    color: #222222;
}



.img--top {
    width: 100%;
    position: relative;
}

.separator {
    display: block;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 22px;
    height: 1px;
    background-color: #CBD6E2;

}

@media screen and (min-width: @mobile) and (max-width: @tablet) {
    .wrapper  {
        padding: 0 20px;
    }
    .title {
        font-size: @title_mobile;
        line-height: 20px;
        font-weight: 700;
    }
}
@media screen and (min-width: @tablet) and (max-width: @laptop) {
    .wrapper  {
        padding: 0 30px;
    }
    .title {
        font-size: @title_tablet;
        line-height: 24px;
    }
}

